<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="../static/assets/images/favicon.ico">

        <title>Financia</title>


        <link href="../static/switchery/switchery.min.css" rel="stylesheet" />
        <link href="../static/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />

        <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../static/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="../static/assets/css/style.css" rel="stylesheet" type="text/css">

        <script src="../static/assets/js/modernizr.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>


    </head>


    <body class="fixed-left">

        <div id="addCreditCard" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title text-success">Add Credit Card</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info waves-effect waves-light">Save changes</button> -->
                        </div>
                </div>
            </div>
        </div><!-- /.modal -->

        <div id="addIncome" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="/add/income" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title text-success">Add Income</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="field-1" class="control-label">How much did you earn?</label>
                                        <input type="text" class="form-control" name="amount" id="field-1" placeholder="$0.00">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info waves-effect waves-light">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.modal -->

        <div id="addExpense" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="/add/expense" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title text-danger">Add Expense</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="field-1" class="control-label">How much did you spend?</label>
                                        <input type="text" class="form-control" id="field-1" name="amount" placeholder="$0.00">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="field-2" class="control-label">Category</label>
                                        <select class="form-control" id="category" name="category">
                                            <option>Food</option>
                                            <option>Clothes</option>
                                            <option>Groceries</option>
                                            <option>Entertainment</option>
                                            <option>Transportation</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info waves-effect waves-light">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.modal -->

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="index.html" class="logo"><i class="mdi mdi-radar"></i> <span>Financia</span></a>
                    </div>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <nav class="navbar-custom">

                    <ul class="list-inline float-right mb-0">
                        <li class="list-inline-item notification-list hide-phone">
                            <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                                <i class="mdi mdi-crop-free noti-icon"></i>
                            </a>
                        </li>

                        <a href="/cc/{{ user_id }}" class="list-inline-item hide-phone waves-light waves-effect btn-primary btn-rounded">
                                Pay
                        </a>

                        <button class="list-inline-item hide-phone waves-light waves-effect btn-success btn-rounded" data-toggle="modal" data-target="#addIncome">
                                Income
                        </button>

                        <button class="list-inline-item hide-phone waves-light waves-effect btn-danger btn-rounded" data-toggle="modal" data-target="#addExpense">
                                Expense
                        </button>

                        <button class="list-inline-item hide-phone waves-light waves-effect btn-pink btn-rounded" href="/stocks">
                                Stocks
                        </button>


                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="../static/assets/images/users/generic_user.png" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="text-overflow"><small>Welcome {{ user_name }}!</small> </h5>
                                </div>

                                <!-- item-->
                                <a href="/signout" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout"></i> <span>Logout</span>
                                </a>

                            </div>


                        </li>

                    </ul>

                    <!-- <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                    </ul> -->



                </nav>

            </div>
            <!-- Top Bar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Welcome {{user_name}}!</h4>
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="#">Financia</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="widget-simple-chart text-right card-box">
                                    <div class="circliful-chart" data-dimension="90" data-text="100%" data-width="5" data-fontsize="14" data-percent="100" data-fgcolor="#009886" data-bgcolor="#505A66"></div>
                                    <h3 class="text-success m-t-10">$ <span id="totalincome" class="counter"></span></h3>
                                    <p class="text-muted text-nowrap m-b-10">Total Income</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="widget-simple-chart text-right card-box">
                                    <div class="circliful-chart" data-dimension="90" data-text="{{ expense_rate }}%" data-width="5" data-fontsize="14" data-percent="{{ expense_rate }}" data-fgcolor="#D9534F" data-bgcolor="#505A66"></div>
                                    <h3 class="text-danger m-t-10">$ <span id="totalexpense" class="counter"></span></h3>
                                    <p class="text-muted text-nowrap m-b-10">Total Expenses</p>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-6">
                                <div class="card-box" style="height: 96%">
                                    <h4 class="header-title m-t-0 m-b-30" >Budget</h4>

                                    <div class="widget-chart text-center">
                                        <div id="sparkline2"></div>
                                        <ul class="list-inline m-t-15 mb-0">
                                            <li>
                                                <h5 class="text-white m-t-20">White</h5>
                                                <h4 id ="value1" class="m-b-0">Expenses</h4>
                                            </li>

                                            <li>
                                                <h5 class="text-info m-t-20">Blue</h5>
                                                <h4 class="m-b-0">Net Income</h4>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-30">Expenses</h4>

                                    <div class="widget-chart text-center">
                                        <div id="sparkline3"></div>
                                        <ul class="list-inline m-t-15 mb-0">
                                            <li>
                                                <h5 class="text-white m-t-20">White</h5>
                                                <h4 class="m-b-0">Food</h4>
                                            </li>
                                            <li>
                                                <h5 class="text-info m-t-20">Blue</h5>
                                                <h4 class="m-b-0">Clothes</h4>
                                            </li>
                                            <li>
                                                <h5 class="m-t-20" style="color:#fcadff">Black</h5>
                                                <h4 class="m-b-0">Groceries</h4>
                                            </li>
                                            <li>
                                                <h5 class="text-success m-t-20">Green</h5>
                                                <h4 class="m-b-0">Transportation</h4>
                                            </li>
                                            <li>
                                                <h5 class="m-t-20" style="color:#ff5733">Orange</h5>
                                                <h4 class="m-b-0">Entertainment</h4>
                                            </li>
                                            <li>
                                                <h5 class="m-t-20" style="color:#ffd448">Yellow</h5>
                                                <h4 class="m-b-0">Other</h4>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end row -->



                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">Latest Expenses</h4>
                                    <p class="text-muted m-b-25 font-13">

                                    </p>

                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                            <tr>
                                                <th>Date of Transaction</th>
                                                <th>Category</th>
                                                <th>Transaction amount</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for k in expense|reverse %}
                                                    <tr>
                                                        <td>{{ k.time }}</td>
                                                        <td>{{ k.description }}</td>
                                                        <td>${{ k.amount }}</td>

                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -8 -->

                        </div>
                        <!-- end row -->


                    </div>
                    <!-- end container -->
                </div>
                <!-- end content -->

                <footer class="footer">
                    2018 ©  <span class="hide-phone">- Financia</span>
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->



        <script>
            var resizefunc = [];
        </script>

        <!-- Plugins  -->
        <script src="../static/assets/js/jquery.min.js"></script>
        <script src="../static/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
        <script src="../static/assets/js/bootstrap.min.js"></script>
        <script src="../static/assets/js/detect.js"></script>
        <script src="../static/assets/js/fastclick.js"></script>
        <script src="../static/assets/js/jquery.slimscroll.js"></script>
        <script src="../static/assets/js/jquery.blockUI.js"></script>
        <script src="../static/assets/js/waves.js"></script>
        <script src="../static/assets/js/wow.min.js"></script>
        <script src="../static/assets/js/jquery.nicescroll.js"></script>
        <script src="../static/assets/js/jquery.scrollTo.min.js"></script>
        <script src="../static/switchery/switchery.min.js"></script>

        <!-- Counter Up  -->
        <script src="../static/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="../static/counterup/jquery.counterup.min.js"></script>

        <!-- circliful Chart -->
        <script src="../static/jquery-circliful/js/jquery.circliful.min.js"></script>
        <script src="../static/jquery-sparkline/jquery.sparkline.min.js"></script>

        <!-- skycons -->
        <script src="../static/skyicons/skycons.min.js" type="text/javascript"></script>
        <script src="../static/assets/pages/jquery.dashboard.js"></script><!---->
        <script src="../static/flot-chart/jquery.flot.js"></script>
        <script src="../static/flot-chart/jquery.flot.time.js"></script>
        <script src="../static/flot-chart/jquery.flot.tooltip.min.js"></script>
        <script src="../static/flot-chart/jquery.flot.resize.js"></script>
        <script src="../static/flot-chart/jquery.flot.pie.js"></script>
        <script src="../static/flot-chart/jquery.flot.selection.js"></script>
        <script src="../static/flot-chart/jquery.flot.stack.js"></script>
        <script src="../static/flot-chart/jquery.flot.crosshair.js"></script>
        <!--<script src="assets/pages/jquery.flot.init.js"></script>-->

        <!-- Page js  -->
        <script src="../static/assets/pages/jquery.dashboard.js"></script>

        <!-- Custom main Js -->
        <script src="../static/assets/js/jquery.core.js"></script>
        <script src="../static/assets/js/jquery.app.js"></script>

        <script type="text/javascript" src="https://js.stripe.com/v3/"></script>


        <script type="text/javascript">
            var DrawPie = function(pie2, pie1) {
                window.pie2 = pie2;
             $('#sparkline2').sparkline(pie1, {
                type: 'pie',
                width: '200',
                height: '200',
                sliceColors: ['#dcdcdc', '#3bafda']
            });
            $('#sparkline3').sparkline(pie2, {
                type: 'pie',
                width: '200',
                height: '200',
                sliceColors: ['#dcdcdc', '#3bafda', '#fcadff', '#00b19d', '#ff5733', '#ffd448']
            });


        };

            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                $('.circliful-chart').circliful();
            });
            window.incomes = JSON.parse('{{ income|tojson }}');
            window.expenses = JSON.parse('{{ expense|tojson }}');
            window.totalincomes = 0;
            incomes.forEach(function(x) {
                totalincomes+=parseInt(x.amount);
            });
            document.getElementById("totalincome").innerHTML = totalincomes;

            var food = 0;
            var clothes = 0;
            var transportation = 0;
            var groceries = 0;
            var entertainment = 0;
            var other = 0;

            expenses.forEach(function(x) {
              if(x.description == 'Food'){
                  food = x.amount + food;
              }
              else if(x.description == 'Clothes'){
                  clothes = x.amount + clothes;
              }
              else if(x.description == 'Transportation'){
                  transportation = x.amount + transportation;
              }
              else if(x.description == 'Groceries'){
                  groceries = x.amount + groceries;
              }
              else if(x.description == 'Entertainment'){
                  entertainment = x.amount + entertainment;
              }
              else if(x.description == 'Other'){
                  other = x.amount + other;
              }
            });
            var totalcosts = food+clothes+transportation+groceries+entertainment+other;
            document.getElementById("totalexpense").innerHTML = totalcosts;
            var budgetdata = [totalcosts, totalincomes-totalcosts];
            var expenseData = [food,clothes,groceries,transportation,entertainment,other];
            DrawPie(expenseData, budgetdata);
            //DrawSparkline();
            var resizeChart;



        </script>


    </body>

</html>